{% extends ./../resources/views/layout.html %}

{% block title %}_NETS Easy - Sample by Fjakkarin.com{% endblock %}

{% block content %}
    <h1>Checkout</h1>
    <div id="checkout-container-div">
        <!-- checkout iframe will be embedded here -->
    </div>
    <script src="https://test.checkout.dibspayment.eu/v1/checkout.js?v=1"></script>
    <script type="application/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            const urlParams = new URLSearchParams(window.location.search);
            const paymentId = urlParams.get('paymentId');
            if (paymentId) {

                const checkoutOptions = {
                    checkoutKey: "{{ $checkout_token }}",
                    paymentId: paymentId,
                    containerId: "checkout-container-div"
                };

                const checkout = new Dibs.Checkout(checkoutOptions);

                checkout.on('payment-completed', function (response) {
                    window.location = 'completed.php';
                });

            } else {
                console.log("Expected a paymentId");   // No paymentId provided,
                window.location = 'index.php';         // go back to
            }
        });
    </script>
{% endblock %}
