{% extends ./../resources/views/layout.html %}

{% block title %}_NETS Easy - Sample by Fjakkarin.com{% endblock %}

{% block content %}
<main>
    <div class="app">
        <div class="river">
            <div class="stone">
                <div class="heading">
                    <h1 class="h1">Shopping Cart</h1>
                </div>
                <div class="bulk text-center">
                    <a href="/create-payment.php" class="button">Proceed to Checkout</a>
                </div>
                <div class="last">
                    <p class="text-center">
                        Sample is made by <a href="https://fjakkarin.com">Fjakkarin.com</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
